<div data-controller="ImageAvatarComponent"
     data-GroupModifyComponent-target="imageAvatar"
     data-action="ImageAvatarComponent:avatarSetImage->ImageAvatarComponent#handleMessageSetImage"
     class="d-flex  flex-row    image-avatar">

     <img src="{{ data.imageSrc }}"
          class="img-thumbnail  image-avatar__img--svg"
          alt="{{ data.imageAlt }}"
          data-no-avatar="{{ data.imageNoAvatar }}"
          data-js-image />

     <div class="align-self-start  image-avatar__button"
          role="button"
          data-js-button-remove>

          {% include "common/remove-icon.svg" %}
     </div>
     <div class="align-self-start  d-none  image-avatar__button  image-avatar__button--undo"
          role="button"
          data-js-button-remove-undo>

          {% include "common/undo-icon.svg" %}
     </div>
</div>