<div data-controller="RecipeHomeSectionComponent"
     class="contaniner">

    {{ component('HomeSectionComponent', { data: data.homeSectionComponentDto } ) }}
    {# {{ component('ModalComponent', { data: data.listItemsModalDto } ) }} #}
    {# {{ component('ModalComponent', { data: data.recipeCreateModalDto } ) }} #}
    {# {{ component('ModalComponent', { data: data.recipeInfoModalDto } ) }} #}
</div>