[data-bs-theme="light"] {
    .recipe-list-item {
        border-bottom: 1px solid $border-shadow-color !important;
    }
}

[data-bs-theme="dark"] {
    .recipe-list-item {
        border-bottom: 1px solid $border-shadow-color-dark !important;
    }
}

.list-recipe-item {
    .recipe-list-item__image {
        width: 75px;
        height: 75px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .recipe-list-item__button {

        svg {
            width: 24px;
            height: auto;
        }

        &--menu {
            width: 100%;
        }
    }

    .button-open-menu {
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
    }
}


@include media-breakpoint-down(sm) {
    .list-recipe-item {
        .recipe-list-item__image {
            display: none !important;
        }
    }
}