[data-bs-theme="dark"] {
    .list-items__item {
        .item__image {

            &--svg {
                filter: invert(100);
                background-color: #fff0;
                border: 1px solid $gray-100;
            }
        }
    }
}

.list-items__item {
    .item__image {
        height: 45px;
        width: 45px;
    }
}